.buypls  {
    margin: auto;
    width: 50%;
    height: 200px;
    color: white;
    text-align: center;
    padding: 30px;
}
.photo img{
    margin-left: 200px;
    border-radius: 30px;
}

@keyframes slideInLeft {
    from{
        opacity: 0;
        color: #000000; 
        transform: translateX(-300px);
    }
    to{
        
        opacity: 1;
        color:#4cc9f0;
        transform: translateX(0);
        
        
    }
    
}

@keyframes separator-width {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }


  @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,700;1,700&display=swap');
  body{
      background-color: black;
      font-family: "Ubuntu Sans Mono", monospace;
  }
  


.Menu_panel {
    color: white;
    height: 100px;
    position: sticky;
    background-color: #000000; /* Цвет фона меню */
    z-index: 1000; /* Установка z-index для отображения меню поверх других элементов */
}

.menu_start {
    list-style-type: none;
    display: flex; /* Расположение элементов в одну линию (горизонтально) */
    justify-content: space-around; /* Выравнивание элементов по ширине */
    align-items: center; /* Выравнивание элементов по вертикали по центру */
    padding: 10px; /* Отступы вокруг элементов меню */
}

.menu_start a{
    color: white;
    text-decoration: none;
}
.menu_start a:hover{
    color: rgb(93, 127, 219) ;
}
.Home {
    
    font-weight: 700;
    padding: 10px 15px; /* Задание отступов внутри пунктов меню */
    background-color: transparent; /* Прозрачный фон у пунктов меню */
    color: #ffffff; /* Цвет текста */
    cursor: pointer; /* Изменение курсора при наведении на пункты меню */
}

.Home:hover{
    color: rgb(93, 127, 219) ;
}

.Home:active{
    color: rgb(93, 127, 219);
}
.offer{
    animation: slideInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in ;
    font-size: 30px;
}
.offer_minus{
    
    text-decoration: line-through;
}
.of{
    width: 100%;
    
}

.buy{
    position: relative;
       z-index: 9999;
    padding: 5px 20px;
    background-color: #707070;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0px 0px 20px 20px;
    
}
.buy a{
    text-decoration: none;
}

.line {
    
    animation: separator-width 10s ease-out forwards;}


.buy:hover{
    background-color: #2980b9;
}
.contacts{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 150px;
    width: 100%;
    height: 200px;
    background-color: rgb(29, 28, 28);
}
.footer {
    margin-top: 100px;
     border-radius: 25px;
     padding: 50px 50px 20px 30px;
     color: #2f2f2f;
     background-color: #fff;
     border-top: 1px solid #e5e5e5;
   }
   
   .footer > * {
     flex:  1 100%;
   }
   
   .footer__addr {
     margin-right: 1.25em;
     margin-bottom: 2em;
   }
   
   .footer__logo {
     font-family: 'Pacifico', cursive;
     font-weight: 400;
     text-transform: lowercase;
     font-size: 1.5rem;
   }
   
   .footer__addr h2 {
     margin-top: 1.3em;
     font-size: 15px;
     font-weight: 400;
   }
   
   .nav__title {
     font-weight: 400;
     font-size: 15px;
   }
   
   .footer address {
     font-style: normal;
     color: #999;
   }
   
   .footer__btn {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 36px;
     max-width: max-content;
     background-color: rgb(33, 33, 33, 0.07);
     border-radius: 100px;
     color: #2f2f2f;
     line-height: 0;
     margin: 0.6em 0;
     font-size: 1rem;
     padding: 0 1.3em;
   }
   
   .footer ul {
     list-style: none;
     padding-left: 0;
   }
   
   .footer li {
     line-height: 2em;
   }
   
   .footer a {
     text-decoration: none;
   }
   
   .footer__nav {
     display: flex;
     flex-flow: row wrap;
   }
   
   .footer__nav > * {
     flex: 1 50%;
     margin-right: 1.25em;
   }
   
   .nav__ul a {
     color: #999;
   }
   
   .nav__ul--extra {
     column-count: 2;
     column-gap: 1.25em;
   }
   
   .legal {
     display: flex;
     flex-wrap: wrap;
     color: #999;
   }
     
   .legal__links {
     display: flex;
     align-items: center;
   }
   
   .heart {
     color: #2f2f2f;
   }

   .otzivi{
    padding: 10px 20px;
    background-color: #707070;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
   }
   .otzivi:hover{
    background-color: #2980b9;
   }
   
   @media screen and (min-width: 24.375em) {
     .legal .legal__links {
       margin-left: auto;
     }
   }
   
   @media screen and (min-width: 40.375em) {
     .footer__nav > * {
       flex: 1;
     }
     
     .nav__item--extra {
       flex-grow: 2;
     }
     
     .footer__addr {
       flex: 1 0px;
     }
     
     .footer__nav {
       flex: 2 0px;
     }
   }